<%- include('./partials/header.ejs')%>
      <div class="container p-3">
        <form id="update_form" class="card card-secondary p-3" action="update/<%= trade.id %>" method="post">
          <div class="row mb-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 col-md-12">
              <h3 class="text-yellow font-raleway-heavy">Update Trade</h3>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-1"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="category"
              >Category</label
            >
            <div class="col-lg-8 col-sm-12">
              <select 
              form="update_form" 
              class="form-select" 
              name="category"
              id="category">
              <option value="Livestock" <% if(trade.category == 'Livestock'){ %> 
                <%= 'Selected'%> 
                <% } %> >Livestock</option>
              <option value="Raw meat and Eggs" <% if(trade.category != 'Livestock'){ %> 
                <%= 'Selected'%> 
                <% } %> 
                >Raw meat and Eggs</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-1 col-md-0"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="inputTitle"
              >Title</label
            >
            <div class="col-lg-8 col-sm-12">
              <input
                class="form-control"
                type="text"
                name="title"
                value="<%= trade.title %>"
                id="inputTitle"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-1 col-md-0"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="inputHeader"
              >Header</label
            >
            <div class="col-lg-8 col-sm-12">
              <input
                class="form-control"
                type="text"
                name="header"
                value="<%= trade.header %>"
                id="inputHeader"
              />
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-1 col-md-0"></div>
            <label class="col-lg-2 col-sm-12 col-form-label" for="inputDetails"
              >Details</label
            >
            <div class="col-lg-8 col-sm-12">
              <textarea
                class="form-control h-120px"
                name="details"
                id="inputDetails"
              ><%= trade.details %></textarea>
            </div>
          </div>
          <div class="form-group row mb-3">
            <div class="col-lg-2 col-md-0"></div>
            <div class="col-lg-9 col-md-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <%- include('./partials/footer.ejs')%>