<%- include('./partials/header.ejs')%>
      <div class="container p-3">
        <div class="row trades-card bg-secondary p-3">
          <div class="col-lg-6 col-sm-12 d-flex flex-column mb-3">
            <h2 class="text-yellow font-raleway-heavy">Livestock</h2>
            <%trades.forEach(trade=>{%>
              <% if(trade.category == 'Livestock'){ %> 
              <a class="btn btn-primary my-1" href="/trade/<%= trade.id %> "><%= trade.title %></a>
            <% }}) %>
          </div>
          <div class="col-lg-6 col-sm-12 d-flex flex-column">
            <h2 class="text-yellow font-raleway-heavy">Raw meat and Eggs</h2>
            <%trades.forEach(trade=>{%>
              <% if(trade.category != 'Livestock'){ %> 
              <a class="btn btn-primary my-1" href="/trade/<%= trade.id %> "><%= trade.title %></a>
            <% }}) %>
          </div>
        </div>
      </div>
      <%- include('./partials/footer.ejs')%>